<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRyS0qTwSb_qiVDRmnp3MGiTyFFxnZgL0</string>
	<key>GCM_SENDER_ID</key>
	<string>1075254436070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fypM2b</string>
	<key>PROJECT_ID</key>
	<string>m2bfyp</string>
	<key>STORAGE_BUCKET</key>
	<string>m2bfyp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075254436070:ios:4efb5c29882ea8158a5b27</string>
</dict>
</plist>